[Unit]
Description=SERVERGIS (Recibe Datos Provinciales)

[Service]
ExecStart=/bin/sh /opt/servergis/start.sh
Restart=always
StartLimitIntervalSec=0
RestartSec=5
StandardOutput=/var/log/servergis_out.log
StandardError=/var/log/servergis_error.log

[Install]
WantedBy=multi-user.target
