[Unit]
Description=GIS MINERO (Reinicio del Servidor)

[Service]
ExecStart=/bin/sh /opt/api3/reinicio/start.sh
Restart=always
StandardOutput=/var/log/reinicio_out_gis.log
StandardError=/var/log/reinicio_error_gis.log

[Install]
WantedBy=multi-user.target

